.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}
.input-container{
    display: flex;
    width: 100%;
}
.form-input {
  width: 100%;
  padding: 0.75rem 0.4rem;
  font-size: 1.125rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-self: center;
}

.form-button {
width: 40%;
  padding: 0.5rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.form-button:hover {
  background-color: #2563eb;
}